*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Raleway', 'Arial', 'Helvetica', 'Sans-serif';
    margin: 0;
}

a {
    text-decoration: none;
}

.banner {
    background: url(../img/banner-iza.jpg) center no-repeat;
    background-size: cover;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.botao {
    background-color: white;
    color: #7e459b;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold; 
}

.banner-conteudo {
    color: white;
    text-align: center;
}

.banner-titulo {
    font-size: 50px;
}

.banner-link:hover{
    background-color: #7e459b;
    color: white;
    border: white 1px solid;
    transition: 0.3s;
    
}
.section {
    margin: 5% 10% 0;
    line-height: 30px;
}

.section-titulo {
    color: #C4C4C3;
    font-size: 36px;
    text-align: center;
    
}

.sobre {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: rgb(71, 71, 71);
    
}

.sobre-texto {    
    width: 53%;
    margin-right: 5px;
    text-align: left;
}

.sobre-texto-principal {    
    font-size:18px;
    text-align: justify;
}

.sobre-texto-sub {   
    text-align: justify;
    font-size: 16px;
}
strong{
    color: #7e459b;
    opacity: 0.8;

}
.sobre-habilidades {
    margin-left: 40px;
    color: #7e459b;
    opacity: 0.8;
}

.sobre-cv{
    border: 1px solid #7e459b ;
    align-items: center;
    
}

.sobre-cv:hover {
    background-color: #7e459b;
    transition: 0.3s;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.footer {
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}

.redes-sociais-link {
    margin: 25px;
    background-color: #7e459b;
    color: white;
    text-align: center;
    padding: 10px 20px;
    width: 150px;
    border-radius: 8px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.3);
    
}

.redes-sociais-link img {
    width: auto;
    height: 50px;
    padding-top: 15px;
}

.redes-sociais-link:hover{
    transform: scale(1.2);
    transition: 0.2;
    background-color: violet;
}

.copyright {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #7e459b;
    opacity: 0.8;
}

